html, body {
    background-color: #eee;
}

#onEnd, #onWinner, #onId {
    display: none;
}

#counter {
    font-size: 90px;
    margin-top: 40;
    vertical-align: baseline;
}

table {
    font-size: 14px;
}

p {
    font-size: 14px;
}

li {
    font-size: 14px;
    margin-bottom: 12;
}

#openAnswer {
    width: 300px;
    height: 120px;
    font-size: 14 px;
}


