@(message: String)

@main("Welcome to Play Framework") {<!--test-->} {

    <!--<script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>-->

    <!--<div class="well">-->
        <!--<h1>@message</h1>-->
    <!--</div>-->

    <!--<button id="getMessageButton">Get JSON Message</button>-->

    <p>
        <a href="midi">GOTO MIDI testpage</a>
    </p>

    <p>
        <a href="questions">GOTO QUESTIONS testpage</a>
    </p>

<p>
    <a href="participant">GOTO PARTICIPANT testpage</a>
</p>

<p>
    <a href="midicontroller">GOTO MIDICONTROLLER testpage</a>
</p>
}
