@import play.mvc.Http.Context.Implicit._

@main("Participant Testpage"){<!--test-->} {


<div ng-app="participantApp">
    <div id="participantPane" ng-controller="ParticipantController">


        <script>
            var wsRoute = "@routes.ParticipantController.ws.webSocketURL(request)";
        </script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/participant.min.js")'></script>

        <!--<p>-->
            <!--message:-->
            <!--{{message}}-->
        <!--</p><p>-->
            <!--data:-->
            <!--&lt;!&ndash;{{message.data}}&ndash;&gt;-->

        <!--</p><p>-->
            <!--data.question:-->
            <!--&lt;!&ndash;{{message.data.question}}&ndash;&gt;-->
        <!--</p>-->
        <p>
            Hello participant!!
        </p>

        <h1>{{message.question.questiontext}}</h1>
        <ul>
            <li ng-repeat="answer in message.question.answers"><a ng-click="sendReaction(answer)">{{answer.answertext}}</a></li>
        </ul>


        <p>
            <button ng-click="test()">test!</button>
        </p>

    </div>
</div>
}