@import play.mvc.Http.Context.Implicit._

@main("Participant Testpage"){<!--test-->} {


<div ng-app="participantApp">
    <div id="participantPane" ng-controller="ParticipantController">


        <script>
            var participantRoute = "@routes.ParticipantController.ws("").webSocketURL(request)";
        </script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/participant.min.js")'></script>

        <p>
            Hello participant!!
        </p>
        <div id="questions" ng-repeat="question in message.questions | filter: { status: 'ACTIVE' }">
            <div id="question">
            <h2>{{question.questiontext}}</h2>
            <table>
                <tr ng-repeat="answer in question.answers">
                    <td ng-if="question.allowMultipleReactions">{{answer.reactions}}</td>
                    <td><a ng-click="sendReaction(answer)">{{answer.answertext}}</a></td>
                </tr>
            </table>
            </div>
        </div>
        <div id="questions" ng-repeat="question in message.questions | filter: { status: 'POST' }">
            <div ng-if="question.hasResult" id="result">
                <h2>{{question.questiontext}}</h2>
                <p>
                    The result is: {{question.result.answertext}}
                </p>
            </div>
            <div ng-if="!question.hasResult" id="question">
            <h2>{{question.questiontext}}</h2>
            <table>
                <tr ng-repeat="answer in question.answers">
                    <td ng-if="answer.allowMultipleReactions">{{answer.reactions}}</td>
                    <td>{{answer.answertext}}</td>
                </tr>
            </table>
            </div>

        </div>
        <!--<p>-->
            <!--<button ng-click="test()">test!</button>-->
        <!--</p>-->

    </div>
</div>
}