@main("Questions testpage"){<!--test-->} {



<div ng-app="questionsApp">
    <div id="questionsPane" ng-controller="QuestionsController">
        <div ng-repeat="question in questions">
            <p>Question</p>
            <p>

                <ul id="questionAttributes">
                    <li>Question <input type="text" ng-model="question.questiontext"/></li>
                    <li>Time <input type="number" min="0" step="1" ng-model="question.time"/></li>
                    <li>Duration <input type="number" min="0" step="1" ng-model="question.duration"/></li>
                    <li>End after <input type="number" min="0" step="1" ng-model="question.end"/></li>
                    <li>Allow multiple reactions <input type="checkbox" ng-model="question.allowMultipleReactions" ng-false-value="false" ng-true-value="true"/></li>
                </ul>
            </p>
            <div ng-repeat="answer in question.answers">
                <p>
                <ul id="answerAttributes">
                    <li>Answer <input type="text" ng-model="answer.answertext"/></li>
                    <li>Note <input type="number" min="0" max="127" step="1" ng-model="answer.note"/></li>
                    <li><button ng-mouseover="bootMidi()" ng-click="testMidi(answer)">play</button></li>
                    <li><button ng-click="removeAnswer(question)">remove</button></li>
              </ul>
                </p>
            </div>
            <p>
                <button ng-click="newAnswer(question)">new answer</button>
            </p>
            <p>
                <button ng-click="removeQuestion(question)">remove question</button>
            </p>
        </div>
        <button ng-click="newQuestion()">new question</button>
        <button ng-click="addQuestionlist()">add questionlist</button>
        <p>
            {{questions}}
        </p>
    </div>
</div>


}